body {
  font-family: sans-serif;
  margin: 0;
  padding-left: 20px;
  padding-right: 20px;
}

h1 {
  font-family: sans-serif;
  font-weight: 700; /* Peso del título */
}

h2 {
  font-family: sans-serif;
  font-weight: 600; /* Peso del título */
  font-size: 30px;
  
}

h3 {
  font-family: sans-serif;
  font-weight: 500; /* Peso del título */
  font-size: 25px;
}

  p {
      font-family: sans-serif;
      font-weight: 400; /* Peso del párrafo */
      font-size: 20px;
    }

#contenedor {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
#principal {
  width: 50%;
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
}
#sidebar {
  width: 50%;
}

blockquote {
  /* Basic styling */
  margin: 20px 40px; /* Adjust margin for indentation */
  padding: 15px; /* Add padding around the text */
  border-left: 5px solid #ccc; /* Add a left border for visual emphasis */
  background-color: #fbeaff; /* Light background color */
  font-style: italic; /* Italicize the quote text */
  color: #333; /* Text color */
}

blockquote p {
  /* Styling for paragraphs within the blockquote */
  line-height: 1.6;
}

blockquote footer {
  /* Styling for the footer (author and source) */
  text-align: right;
  font-size: 0.9em;
  color: #666;
  margin-top: 10px;
}

/* Adding custom quotation marks using pseudo-elements */
blockquote::before {
  content: "“"; /* Opening quote mark */
  font-size: 3em;
  color: #999;
  float: left; /* Position the quote mark */
  margin-right: 10px;
  line-height: 1;
}

blockquote::after {
  content: "”"; /* Closing quote mark */
  font-size: 3em;
  color: #999;
  float: right; /* Position the quote mark */
  margin-left: 10px;
  line-height: 1;
}

/* Este código estaría en tu archivo CSS, no en tu HTML */

li {
  font-size: 20px; /* O un valor como 0.9em, que es el 90% del tamaño normal */
}


code {
    color: #845ec2;
    background-color: #f1f1f1;
    padding: 20px;
    font-size: 25px;
}

header {
  background: linear-gradient(to right, #845ec2, #00c9a7);
  color: white;
  padding: 20px;
  text-align: center;
}

nav a {
  color: white;
  margin: 0 15px;
  text-decoration: none;
  font-weight: bold;
}

section {
  padding: 20px;
  margin: 10px;
  background-color: white;
  border-radius: 8px;
}

footer {
  background-color: #eeeeee;
  text-align: center;
  padding: 10px;
}
